.table {
  background-color: white;
  margin-left: 2%;
  border-radius: 2%;
  margin-right: 2%;
  &_header {
    display: flex;
    align-content: space-between;
    width: 100%;
    &_content {
      display: flex;
      margin: 2%;
      margin-right: 3vw;

      &_name {
        margin-right: 4px;
        font-size: 12px;
      }
    }
  }
}
